<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="default-page-container" class="page-container">
        <div id="bomb">
            <img id="bomb-image" src="img/bomb.png" alt="">
        </div>
        <div id="play-area">
            <a class="game-anchor" id="play-button" href="setplayers">PLAY</a>
        </div>
    </div>
</body>
</html>